@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin:0; 
    padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    background-color: #EFEFE6;
 }
header {
   top: 0; left: 0;
   width:100%;
   padding: 20px 100px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
header .logo {
    position: relative;
    max-width: 80px;
 }
 header ul {
    position: relative;
    display: flex;
 }
 header ul li {
    list-style: none;
 }
 header ul li a {
    display: inline-block;
    color: #4a879d;
    font-weight: 500;
    margin-left: 40px;
    text-decoration: none; 
 }
 header ul li a:hover{
    color: #6da786;
 }
button {
    background-color:#4a879d;
	color:black;
	border-radius: 18px;
	height: 40px;
	width: 110px;
	font-size: 15px;
	border-color: black;
	text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
button:hover{
    color: white;
    background-color: #6da786;
}
.form-container{
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   padding:20px;
   padding-bottom: 60px;
   background:#EFEFE6;
}

.form-container form{
   padding:20px;
   border-radius: 5px;
   background:#EFEFE6;
   box-shadow: 0 5px 10px rgba(0,0,0,.1);
   text-align: center;
   width: 500px;
}

.form-container form h3{
   font-size: 30px;
   text-transform: uppercase;
   margin: 10px;
   color:#4A879D;
}
.form-container form h3 span{
   color:#6da786;
}
.form-container form input,
.form-container form select{
   width: 100%;
   padding:10px 15px;
   font-size: 17px;
   margin:8px 0;
   background: #eee;
   border-radius: 5px;
}

.form-container form select option{
   background: #fff;
}

.form-container form .form-btn{
   background:#4A879D;
   color: #eee;
   text-transform: capitalize;
   font-size: 20px;
   cursor: pointer;
}

.form-container form .form-btn:hover{
   background:#6da786;
   color:#fff;
}

.form-container form p{
   margin-top: 10px;
   font-size: 20px;
   color:#333;
}

.form-container form p a{
   color:#6da786;
}
