@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin:0; 
    padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    background-color: #EFEFE6;
 }
header {
   top: 0; left: 0;
   width:100%;
   padding: 20px 100px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
header .logo {
    position: relative;
    max-width: 80px;
 }
 header ul {
    position: relative;
    display: flex;
 }
 header ul li {
    list-style: none;
 }
 header ul li a {
    display: inline-block;
    color: #4a879d;
    font-weight: 500;
    margin-left: 40px;
    text-decoration: none; 
 }
 header ul li a:hover{
    color: #6da786;
 }
main {
    padding: 20px 100px;
    margin: 0;
    text-decoration: none;
}
h1 {
    color: #4a879d;
}
h3 {
    color: #4a879d;
}
p {
    color: #6da786;
}

button {
    background-color:#4a879d;
	color:black;
	border-radius: 18px;
	height: 40px;
	width: 110px;
	font-size: 15px;
	border-color: black;
	text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
button:hover{
    color: white;
    background-color: #6da786;
}
.images {
    width: 300px;
}
ul li {
    color:#6da786;
    margin: 10px;
}

